<section id="intro">
  <h2>Our Process</h2>
  <h3>Website Design</h3>
  <p>We carry out a market research process to find out what your visitors want to see. We conduct competitive analysis - creating stories and moodboards. Using this research, our designers have fun putting pen to paper, building wireframes and mockups. We keep you informed along the way and encourage you to be critical!</p>
  <h3>Website Development</h3>
  <p>This is where we bring your idea to life, building your website using best practices and industry standard technologies. We work with all major web frameworks, and provide a CMS so you can edit your website whenever it suits. Development is a craft and our developers take pride in what they produce, nailing every last detail.</p>
</section>