<section id="projects">
  <div class="project etcetera">
    <div class="project-info">
      <h2>Etcetera Design</h2>
      <p>User experience, branding and web design consultancy based in Hackney, London. Octave developed Etcetera’s website working closely with Stephanie to bring her designs to life with responsiveness and animation.</p>
      <div class="project-links">
        <a href="https://etcetera.design" target="_blank" class="button button-white icon-right">See&nbsp;more<i class="material-icons">arrow_right</i></a>
      </div>
    </div>
    <div class="project-img">
      <img alt="Mockup of Etcetera Design in the browser" src="/assets/images/etcetera-mockup.png">
    </div>
  </div>
  <div class="project robertkingram">
    <div class="project-info">
      <h2>Robert K Ingram</h2>
      <p>Painter and decorator based in Leicester. We developed an online portfolio for Robert K Ingram designed to show off his best projects. Robert can upload new photos through a CMS so his website always stays up to date.</p>
      <div class="project-links">
        <a href="https://robertkingram.com" target="_blank" class="button button-white icon-right">See&nbsp;more<i class="material-icons">arrow_right</i></a>
      </div>
    </div>
    <div class="project-img">
      <img alt="Mockup of Robert K Ingram in the browser" src="/assets/images/robertkingram-mockup.png">
    </div>
  </div>
</section>