<section id="contact">
  <h2>Ready to chat?</h2>
  <p>Call us on 07875 488721 or send us an email to talk about your project.</p>
  <div class="contact-buttons">
    <a href="tel:+447875488721" class="button icon-left"><i class="material-icons">phone</i>07875 488721</a>
    <a href="mailto:hello@builtbyoctave.com" class="button icon-left"><i class="material-icons">email</i>hello@builtbyoctave.com</a>
<!--    <a href="" class="button icon-left"><i class="material-icons">arrow_right</i>Contact form</a>-->
  </div>
</section>