<header>
  <section id="navbar">
    <h1 class="logo"><a href="/">Octave | Mobile App Development London</a></h1>
    <nav>
      <ul>
<!--        <li><a href="#">About</a></li>-->
        <li><a href="#projects">Work</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="phone-number"><a href="tel:+447875488721"><i class="material-icons">phone</i><span>07875 488721</span></a></li>
      </ul>
    </nav>
    <a href="javascript:toggleFullscreenMenu()" class="hamburger-button">
      <i class="material-icons">menu</i>
    </a>
  </section>
</header>
<div id="fullscreen-menu">
  <a href="javascript:toggleFullscreenMenu()" class="close-button"><i class="material-icons">close</i></a>
  <ul>
    <li><a href="/">Home</a></li>
<!--    <li><a href="#">About</a></li>-->
    <li><a href="#projects" onclick="toggleFullscreenMenu()">Work</a></li>
    <li><a href="#contact" onclick="toggleFullscreenMenu()">Contact</a></li>
  </ul>
</div>
