<section id="intro">
  <h2>Mobile App Development London</h2>
  <p>We’ve been designing and building seamless mobile apps, APIs and websites for over 10 years. We work with businesses who are looking to either create their first app, or transform their existing technology to meet their business goals. Our apps are designed with a full user-research process, and are built to scale with the growth of your business.</p>
<!--  <a href="#" class="button icon-right">Read more<i class="material-icons">arrow_right</i></a>-->
</section>