<section id="intro">
  <h2>Our Process</h2>
  <h3>Web & Mobile Design</h3>
  <p>We carry out a full UX research process to find out what works for your users. We conduct competitive analysis - creating user personas, stories and moodboards. Using this research, our designers have fun putting pen to paper, building wireframes and mockups. We keep you informed along the way and encourage you to be critical!</p>
  <h3>Web & Mobile Development</h3>
  <p>This is where we bring your idea to life, building your product using best practices and industry standard technologies. We develop both native and cross-platform mobile apps, and work with all major web frameworks. Development is a craft and we encourage our developers to take pride in what they produce, nailing every last detail.</p>
</section>