<section id="projects">
  <div class="project hacw">
    <div class="project-info">
      <h2>How a Car Works</h2>
      <p>Car mechanics manual and complete 14 hour video course. We designed and developed the Android and iOS mobile app, increasing the rating from 3.5 to 5 stars.</p>
      <a href="#" class="button button-white icon-right">See more<i class="material-icons">arrow_right</i></a>
    </div>
    <div class="project-img">
      <img alt="Mockup of How a Car Works app on iPhone" src="/assets/images/hacw-mockup.png">
    </div>
  </div>
  <div class="project active10">
    <div class="project-info">
      <h2>PHE Active 10</h2>
      <p>Walking app designed to track your everyday walks and show you how to increase your intensity to benefit your health. We developed the app with the University of Sheffield, and with the security and scalability to support half a million users.</p>
      <a href="#" class="button button-white icon-right">See more<i class="material-icons">arrow_right</i></a>
    </div>
    <div class="project-img">
      <img alt="Mockup of Active 10 app on iPhone" src="/assets/images/active10-mockup.png">
    </div>
  </div>
  <div class="project etcetera">
    <div class="project-info">
      <h2>etcetera design</h2>
      <p>UX, branding and web designer based in Hackney, London. Octave developed etcetera’s website working closely with Stephanie to bring her designs to life with responsiveness and animation.</p>
      <a href="#" class="button button-white icon-right">See more<i class="material-icons">arrow_right</i></a>
    </div>
    <div class="project-img">
      <img alt="Mockup of Active 10 app on iPhone" src="/assets/images/etcetera-mockup.png">
    </div>
  </div>
</section>