<section id="projects">
  <div class="project active10">
    <div class="project-info">
      <h2>PHE Active 10</h2>
      <p>Walking app designed to track your everyday walks and show you how to increase your intensity to benefit your health. We developed the app for scalability and security with the University of Sheffield, and continued to support the growth to half a million users.</p>
      <div class="project-links">
        <a href="https://apps.apple.com/gb/app/one-you-active-10-walk-tracker/id1204295312" target="_blank" class="button button-white icon-right">See&nbsp;more<i class="material-icons">arrow_right</i></a>
        <a href="https://apps.apple.com/gb/app/one-you-active-10-walk-tracker/id1204295312" target="_blank" class="app-store-play-store"><img src="/assets/images/app-store.svg" alt="Download Active 10 on the App Store"></a>
        <a href="https://play.google.com/store/apps/details?id=uk.ac.shef.oak.pheactiveten" target="_blank" class="app-store-play-store"><img src="/assets/images/google-play.png" alt="Download Active 10 on the Play Store"></a>
      </div>
    </div>
    <div class="project-img">
      <img alt="Mockup of Active 10 app on iPhone" src="/assets/images/active10-mockup.png">
    </div>
  </div>
  <div class="project hacw">
    <div class="project-info">
      <h2>How a Car Works</h2>
      <p>Car mechanics manual and complete 14 hour video course. We designed and developed the iOS and Android mobile apps, increasing the rating from 3.5 to 5 stars.</p>
      <div class="project-links">
        <a href="https://apps.apple.com/gb/app/how-a-car-works/id961583774" target="_blank" class="button button-white icon-right">See&nbsp;more<i class="material-icons">arrow_right</i></a>
        <a href="https://apps.apple.com/gb/app/how-a-car-works/id961583774" target="_blank" class="app-store-play-store"><img src="/assets/images/app-store.svg" alt="Download How A Car Works on the App Store"></a>
        <a href="https://play.google.com/store/apps/details?id=com.howacarworks" target="_blank" class="app-store-play-store"><img src="/assets/images/google-play.png" alt="Download How A Car Works on the Play Store"></a>
      </div>
    </div>
    <div class="project-img">
      <img alt="Mockup of How a Car Works app on iPhone" src="/assets/images/hacw-mockup.png">
    </div>
  </div>
  <div class="project etcetera">
    <div class="project-info">
      <h2>Etcetera Design</h2>
      <p>User experience, branding and web design consultancy based in Hackney, London. Octave developed Etcetera’s website working closely with Stephanie to bring her designs to life with responsiveness and animation.</p>
      <div class="project-links">
        <a href="https://etcetera.design" target="_blank" class="button button-white icon-right">See&nbsp;more<i class="material-icons">arrow_right</i></a>
      </div>
    </div>
    <div class="project-img">
      <img alt="Mockup of Etcetera Design in the browser" src="/assets/images/etcetera-mockup.png">
    </div>
  </div>
</section>