<section id="projects">
  <div class="project hacw">
    <div class="project-info">
      <h2>How a Car Works</h2>
      <p>Car mechanics manual and complete 14 hour video course. We designed and developed the Android and iOS mobile app, increasing the rating from 3.5 to 5 stars.</p>
      <a href="#" class="button button-white icon-right">See more<i class="material-icons">arrow_right</i></a>
    </div>
    <div class="project-img">
      <img alt="Mockup of How a Car Works app on iPhone" src="/assets/images/hacw-mockup.png">
    </div>
  </div>
</section>