section#intro{
  padding: 2rem;
  h2{
    font-size: 2rem;
    margin: 0 0 1rem;
    @include lg{
      font-size: 2.5rem;
    }
  }
  p{
    font-size: 1.2rem;
    margin: 0 0 1.5rem;
    color: $grey;
    @include lg{
      font-size: 1.5rem;
    }
  }
}