section#projects{
  .project{
    padding: 2rem;
    h2{
      font-family: "Muli", sans-serif;
      font-size: 2rem;
      color: white;
      @include lg{
        font-size: 3rem;
      }
    }
    p{
      font-size: 1.2rem;
      color: white;
      @include lg{
        font-size: 1.5rem;
      }
    }
    img{
      width: 100%;
    }
    @include md{
      display: flex;
    }
    @include lg{
      padding: 4rem;
    }
    .project-img{
      @include lg{
        padding: 0 5rem;
      }
    }
    .project-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .button{
        align-self: flex-start;
      }
    }
  }
  .project.hacw{
    background: #0F0E16;
    color: white;
  }

}