---
---

@import "normalize.css";
@import "vars";

html,body{
  height: 100%;
}
body{
  font-size: 62.5%;
  font-family: "Muli", sans-serif;
}

@import "common";
@import "header";
@import "cover";
@import "intro";

