<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section id="navbar">
      <h1 class="logo">Octave | Web Design London</h1>
      <nav>
        <ul>
          <li>About</li>
          <li>Services</li>
          <li>Contact</li>
          <li class="getintouch"><a href="/contact">Get in touch</a></li>
        </ul>
      </nav>
    </section>
    {{ content }}
  </body>
</html>